#zone_button {
  	z-index: 1;
	background-color: cornflowerblue;
	border-radius: 100%;
 	position: absolute;
  	left: 75%;
  	margin-left: -100px;
  	top: 50%;
	margin-top: -100px;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}